@charset "UTF-8";
ul {
  margin: 0;
  padding: 0; }

/*pc端*/
.about_content {
  min-height: 50px;
  position: relative;
  /*图片轮播*/
  /*介绍*/
  /*其他*/ }
  .about_content .about_title {
    margin: 0 !important;
    font-size: 24px;
    color: #333333;
    height: 128px;
    line-height: 118px;
    font-weight: normal; }
  .about_content .about_slide {
    width: 100%; }
    .about_content .about_slide .bx-pager {
      bottom: 0 !important; }
    .about_content .about_slide .bx-wrapper {
      margin: 0 !important; }
  .about_content .about_intro .about_intro_pub {
    float: left;
    height: 242px; }
    .about_content .about_intro .about_intro_pub .about_intro_pub_title {
      font-size: 17px;
      color: #7e6bb5;
      margin-top: 41px;
      padding-left: 46px; }
    .about_content .about_intro .about_intro_pub .about_intro_pub_cont {
      font-size: 14px;
      color: #333333;
      line-height: 24px;
      padding-left: 46px;
      padding-right: 31px;
      margin-top: 25px; }
  .about_content .about_intro .about_intro_1 {
    width: 699px;
    background: #ffffff; }
  .about_content .about_intro .about_intro_2 {
    width: 426px;
    background: #e5e1f0; }
  .about_content .about_obters {
    width: 100%;
    overflow: hidden;
    position: relative;
    /*合作单位*/
    /*微信、联系方式*/ }
    .about_content .about_obters .about_links {
      list-style: none;
      display: block;
      float: left;
      width: 875px;
      overflow: hidden; }
      .about_content .about_obters .about_links li {
        float: left;
        display: block; }
        .about_content .about_obters .about_links li a {
          display: block;
          width: 175px;
          height: 175px;
          text-align: center;
          position: relative;
          text-decoration: none; }
          .about_content .about_obters .about_links li a div {
            position: absolute;
            left: 50%;
            top: 51px;
            margin-left: -17px; }
          .about_content .about_obters .about_links li a span {
            font-size: 16px;
            color: #ffffff;
            display: inline-block;
            margin-top: 108px; }
        .about_content .about_obters .about_links li:first-child {
          background: #7e6bb5; }
          .about_content .about_obters .about_links li:first-child div {
            width: 34px;
            height: 34px; }
            .about_content .about_obters .about_links li:first-child div img {
              width: 34px;
              height: 34px; }
        .about_content .about_obters .about_links li:first-child + li {
          background: #8a79bc; }
          .about_content .about_obters .about_links li:first-child + li div {
            width: 36px;
            height: 27px; }
            .about_content .about_obters .about_links li:first-child + li div img {
              width: 36px;
              height: 32px; }
        .about_content .about_obters .about_links li:first-child + li + li {
          background: #9687c2; }
          .about_content .about_obters .about_links li:first-child + li + li div {
            width: 22px;
            height: 36px;
            margin-left: -11px; }
            .about_content .about_obters .about_links li:first-child + li + li div img {
              width: 22px;
              height: 36px; }
        .about_content .about_obters .about_links li:first-child + li + li + li {
          background: #a295c9; }
          .about_content .about_obters .about_links li:first-child + li + li + li div {
            width: 30px;
            height: 34px; }
            .about_content .about_obters .about_links li:first-child + li + li + li div img {
              width: 30px;
              height: 34px; }
        .about_content .about_obters .about_links li:first-child + li + li + li + li {
          background: #afa3d0; }
          .about_content .about_obters .about_links li:first-child + li + li + li + li div {
            width: 30px;
            height: 27px; }
            .about_content .about_obters .about_links li:first-child + li + li + li + li div img {
              width: 30px;
              height: 27px; }
    .about_content .about_obters .about_cooperate {
      width: 875px;
      height: 185px;
      overflow: hidden;
      float: left;
      background: #fff; }
      .about_content .about_obters .about_cooperate .about_cooperate_title {
        margin: 0;
        margin-left: 34px;
        margin-top: 48px;
        font-size: 18px;
        color: #7e6bb5;
        font-weight: normal; }
      .about_content .about_obters .about_cooperate .about_cooperate_cont {
        overflow: hidden;
        position: relative;
        margin-top: 27px; }
        .about_content .about_obters .about_cooperate .about_cooperate_cont #btnNext, .about_content .about_obters .about_cooperate .about_cooperate_cont #btnPrev {
          position: absolute;
          width: 11px;
          height: 21px;
          cursor: pointer;
          top: 10px; }
          .about_content .about_obters .about_cooperate .about_cooperate_cont #btnNext img, .about_content .about_obters .about_cooperate .about_cooperate_cont #btnPrev img {
            width: 11px;
            height: 21px; }
        .about_content .about_obters .about_cooperate .about_cooperate_cont #btnNext {
          left: 39px; }
        .about_content .about_obters .about_cooperate .about_cooperate_cont #btnPrev {
          right: 50px; }
        .about_content .about_obters .about_cooperate .about_cooperate_cont #listBox {
          width: 735px;
          height: 40px;
          overflow: hidden;
          margin-left: 59px;
          float: left; }
          .about_content .about_obters .about_cooperate .about_cooperate_cont #listBox #list {
            margin: 0;
            padding: 0;
            display: block;
            width: 2000px; }
            .about_content .about_obters .about_cooperate .about_cooperate_cont #listBox #list li {
              float: left;
              list-style: none;
              display: block;
              padding: 0 14px;
              border-right: #c9c9c9 1px solid; }
              .about_content .about_obters .about_cooperate .about_cooperate_cont #listBox #list li a {
                display: block;
                width: 156px; }
                .about_content .about_obters .about_cooperate .about_cooperate_cont #listBox #list li a img {
                  width: 156px;
                  height: 40px; }
    .about_content .about_obters .about_connect {
      width: 250px;
      height: 360px;
      position: absolute;
      right: 0px;
      top: 0px;
      background: url("../img/about_connect_bg.png") no-repeat;
      background-size: 250px 360px;
      background: url("../img/ie-about_connect_bg.png") no-repeat\0;
      text-align: center; }
      .about_content .about_obters .about_connect .about_connect_font {
        font-size: 14px;
        font-weight: normal;
        color: #000; }
      .about_content .about_obters .about_connect img {
        display: inline-block;
        width: 128px;
        height: 128px;
        margin-top: 47px; }
      .about_content .about_obters .about_connect p {
        text-align: left;
        font-size: 13px;
        color: #000;
        line-height: 25px;
        margin-left: 61px;
        width: 128px;
        margin-top: 30px; }
        .about_content .about_obters .about_connect p .service_addr_intro {
          color: #000;
          font-weight: normal;
          line-height: 20px;
          display: block;
          margin-bottom: -14px; }
        .about_content .about_obters .about_connect p span {
          color: #7e6bb5;
          font-weight: bold; }
      .about_content .about_obters .about_connect div {
        display: inline;
        font-size: 14px; }

.about_mobile_attention, .about_mobile_addr, .about_slide_mobile {
  display: none; }

/*移动端*/
@media (max-width: 770px) {
  .about_content {
    background: #ffffff;
    width: 100% !important;
    /*介绍*/
    /*图片轮播*/
    /*移动端关注*/
    /*移动端地址*/ }
    .about_content .about_title, .about_content .about_slide {
      display: none; }
    .about_content .about_intro_pub {
      padding: 49px 29px;
      width: auto !important;
      float: none !important;
      height: auto !important; }
      .about_content .about_intro_pub .about_intro_pub_title {
        font-size: 27px !important;
        margin-top: 0 !important;
        padding-left: 0 !important;
        font-weight: lighter; }
      .about_content .about_intro_pub .about_intro_pub_cont {
        margin-top: 16px !important;
        font-size: 16px !important;
        line-height: 28px !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        font-weight: lighter; }
    .about_content .about_intro_1 {
      background: #7e6bb5 !important;
      color: #fff !important; }
      .about_content .about_intro_1 .about_intro_pub_title {
        color: #fff !important; }
      .about_content .about_intro_1 .about_intro_pub_cont {
        color: #fff !important; }
    .about_content .about_intro_2 {
      background: #f8f8f8 !important;
      color: #020202 !important; }
      .about_content .about_intro_2 .about_intro_pub_title {
        color: #020202 !important; }
    .about_content .about_slide_mobile {
      display: block;
      width: 100%; }
      .about_content .about_slide_mobile img {
        width: 100%;
        margin-bottom: -4px; }
    .about_content .about_mobile_attention {
      display: block;
      padding: 0 29px;
      color: #000;
      height: 527px;
      overflow: hidden;
      background: #ffffff;
      background: url("../img/index_mobile_appoint_wx.png?123456789") bottom center no-repeat;
      background-size: 242px 303px;
      position: relative;
      font-weight: lighter; }
      .about_content .about_mobile_attention h1 {
        margin: 0;
        font-size: 27px;
        font-weight: lighter;
        margin-top: 51px; }
      .about_content .about_mobile_attention p {
        margin: 0;
        font-size: 16px;
        margin-top: 16px; }
      .about_content .about_mobile_attention img {
        width: 154px;
        height: 154px;
        position: absolute;
        bottom: 29px;
        left: 50%;
        margin-left: -76px; }
    .about_content .about_mobile_addr {
      display: block;
      padding: 46px 29px;
      background: #7e6bb5;
      font-size: 16px;
      color: #ffffff;
      line-height: 28px; }

  /*隐藏foot*/
  .about_obters {
    display: none; } }
