@charset "UTF-8";
.detail_content {
  min-height: 50px;
  /*医生列表*/ }
  .detail_content h2 {
    font-size: 24px;
    color: #000;
    margin: 0;
    height: 128px;
    line-height: 128px;
    margin-top: 0px;
    font-weight: normal; }
    .detail_content h2 a {
      font-size: 16px;
      text-decoration: none;
      color: #7c68b4;
      float: right; }
  .detail_content .content_detail {
    width: 100%;
    height: 380px;
    overflow: hidden;
    position: relative;
    background: #ffffff;
    display: table;
    padding-bottom: 0; }
    .detail_content .content_detail .content_detail_pic {
      width: 701px;
      height: 511px;
      float: left;
      position: absolute;
      top: 50%;
      margin-top: -256px; }
    .detail_content .content_detail .content_detail_intro {
      overflow: hidden;
      width: 313px;
      display: table-cell;
      vertical-align: middle;
      position: relative;
      left: -46px; }
      .detail_content .content_detail .content_detail_intro .content_detail_intro_title {
        font-size: 21px;
        color: #333333;
        margin: 0;
        float: left;
        width: 100%;
        font-weight: normal; }
      .detail_content .content_detail .content_detail_intro .service_list_content {
        width: 100%;
        height: auto;
        float: left;
        font-size: 15px;
        color: #888888;
        overflow: hidden;
        margin-top: 24px;
        font-weight: lighter; }
        .detail_content .content_detail .content_detail_intro .service_list_content p {
          margin: 0;
          line-height: 29px; }
    .detail_content .content_detail .service_wechat {
      margin: 0;
      padding: 0;
      position: absolute;
      bottom: 58px;
      right: 159px; }
      .detail_content .content_detail .service_wechat li {
        width: 140px;
        display: block;
        list-style: none;
        margin: 0;
        height: 21px;
        font-size: 15px;
        line-height: 20px;
        color: #777777;
        margin-bottom: 12px; }
        .detail_content .content_detail .service_wechat li i {
          width: 21px;
          height: 21px;
          display: block;
          background: url("../img/service_list_icon.png");
          background-size: cover;
          /*behavior: url("./css/backgroundsize.min.htc");*/
          background: url("../img/ie-service_list_icon.png") \0;
          margin-right: 10px;
          float: left; }
  .detail_content .detail_doctors {
    width: 100%;
    overflow: hidden;
    padding-bottom: 90px;
    position: relative;
    /*备注*/
    /*微信*/ }
    .detail_content .detail_doctors .detail_doctors_block {
      margin: 0;
      padding: 0;
      display: block;
      overflow: hidden;
      margin-top: 28px;
      min-height: 500px; }
      .detail_content .detail_doctors .detail_doctors_block .detail_doctors_list {
        display: block;
        list-style: none;
        width: 700px;
        float: left;
        padding: 40px 0;
        border-bottom: 1px solid #e6e6e6; }
        .detail_content .detail_doctors .detail_doctors_block .detail_doctors_list img {
          width: 85px;
          height: 85px;
          border-radius: 85px;
          float: left; }
        .detail_content .detail_doctors .detail_doctors_block .detail_doctors_list .detail_doctors_intro {
          float: left;
          margin-left: 32px;
          width: 580px; }
          .detail_content .detail_doctors .detail_doctors_block .detail_doctors_list .detail_doctors_intro h3 {
            font-size: 17px;
            color: #333333;
            margin: 0;
            font-weight: normal; }
            .detail_content .detail_doctors .detail_doctors_block .detail_doctors_list .detail_doctors_intro h3 a {
              color: #7e6bb5;
              text-decoration: none; }
          .detail_content .detail_doctors .detail_doctors_block .detail_doctors_list .detail_doctors_intro p {
            font-size: 14px;
            color: #777777;
            min-height: 65px;
            margin: 0;
            margin-top: 12px;
            line-height: 22px; }
    .detail_content .detail_doctors .detail_doctors_ps {
      margin-top: 34px;
      font-size: 13px;
      color: #333333; }
    .detail_content .detail_doctors .qr_wechat {
      width: 301px;
      height: 487px;
      position: absolute;
      background: url("../img/detail_wechat_phone.png?123456788");
      background-size: cover;
      /*behavior: url("./css/backgroundsize.min.htc");*/
      background: url("../img/ie-detail_wechat_phone.png?123456788") \0;
      top: 101px;
      right: 0px; }
      .detail_content .detail_doctors .qr_wechat img {
        width: 141px;
        height: 141px;
        position: absolute;
        top: 151px;
        left: 42px; }

@media (max-width: 770px) {
  .detail_content {
    width: 100% !important;
    /*医生列表*/ }
    .detail_content h2 {
      display: none; }
    .detail_content .content_detail {
      width: 100%;
      background: #7e6bb5;
      padding-bottom: 0;
      height: auto; }
      .detail_content .content_detail .content_detail_pic_outer {
        height: auto; }
      .detail_content .content_detail .content_detail_pic {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: static;
        top: 0;
        margin-top: 0; }
      .detail_content .content_detail .content_detail_intro {
        padding: 41px 28px;
        background: #7e6bb5;
        overflow: hidden;
        margin-top: -5px;
        margin-left: 0;
        width: auto;
        display: block;
        position: static;
        left: 0; }
        .detail_content .content_detail .content_detail_intro .content_detail_intro_title {
          font-size: 29px;
          color: #ffffff;
          font-weight: lighter;
          margin: 0; }
          .detail_content .content_detail .content_detail_intro .content_detail_intro_title span {
            display: none; }
        .detail_content .content_detail .content_detail_intro .service_list_content {
          font-size: 16px;
          color: #fff;
          margin-top: 25px;
          width: auto;
          height: auto; }
          .detail_content .content_detail .content_detail_intro .service_list_content p {
            margin: 0;
            line-height: 26px; }
      .detail_content .content_detail .service_wechat {
        display: none; }
    .detail_content .detail_doctors {
      width: 100%;
      padding-bottom: 0px; }
      .detail_content .detail_doctors .detail_doctors_block {
        margin: 0;
        padding: 0;
        display: block;
        padding: 0 27px;
        margin-top: 0;
        min-height: 1px; }
        .detail_content .detail_doctors .detail_doctors_block .detail_doctors_list {
          list-style: none;
          overflow: hidden;
          position: relative;
          padding: 36px 0;
          border-bottom: 1px solid #e6e6e6;
          width: auto;
          float: none; }
          .detail_content .detail_doctors .detail_doctors_block .detail_doctors_list:last-child {
            border: none; }
          .detail_content .detail_doctors .detail_doctors_block .detail_doctors_list img {
            width: 58px;
            height: 58px;
            border-radius: 58px;
            display: inline-block;
            position: absolute;
            left: 4px; }
          .detail_content .detail_doctors .detail_doctors_block .detail_doctors_list .detail_doctors_intro {
            display: inline-block;
            margin-left: 0;
            width: auto; }
            .detail_content .detail_doctors .detail_doctors_block .detail_doctors_list .detail_doctors_intro h3 {
              font-size: 18px;
              font-weight: lighter;
              color: #000;
              margin: 0;
              margin-left: 88px;
              margin-top: -7px; }
              .detail_content .detail_doctors .detail_doctors_block .detail_doctors_list .detail_doctors_intro h3 a {
                display: block;
                text-decoration: none;
                color: #7e6bb5;
                font-size: 25px;
                padding-left: 9px;
                font-weight: lighter; }
            .detail_content .detail_doctors .detail_doctors_block .detail_doctors_list .detail_doctors_intro p {
              font-size: 16px;
              color: #000000;
              margin: 0;
              margin-top: 32px;
              line-height: 26px;
              font-weight: lighter; }
      .detail_content .detail_doctors .detail_doctors_ps {
        display: none; }
      .detail_content .detail_doctors .qr_wechat {
        display: none; } }
