@charset "UTF-8";
.index_title {
  height: 170px;
  width: 100%;
  line-height: 170px;
  text-align: center;
  font-size: 25px;
  color: #343434;
  margin: 0px;
  font-weight: normal; }

.index_intro {
  margin-top: -14px; }
  .index_intro .bx-controls-direction {
    display: none; }
  .index_intro .bxslider .index_bxslider_intro div {
    position: absolute;
    color: #f9f7f7;
    font-weight: lighter; }
    .index_intro .bxslider .index_bxslider_intro div p {
      height: 62px; }
    .index_intro .bxslider .index_bxslider_intro div a {
      font-size: 12px;
      color: #f9f7f7;
      padding: 7px 37px;
      background: #7e6bb5;
      border-radius: 4px;
      display: block;
      text-decoration: none;
      width: 58px;
      text-align: center;
      margin-top: 26px !important; }
  .index_intro .bxslider .index_bxslider_intro {
    width: 1125px;
    height: 0px;
    margin: 0 auto;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -562px; }
    .index_intro .bxslider .index_bxslider_intro div {
      position: absolute;
      top: 206px;
      left: 0px;
      font-size: 50px; }
      .index_intro .bxslider .index_bxslider_intro div p {
        margin: 0;
        height: 62px; }
      .index_intro .bxslider .index_bxslider_intro div a {
        font-size: 18px;
        color: #f9f7f7;
        padding: 13px 37px;
        background: #7e6bb5;
        border-radius: 4px;
        display: block;
        text-decoration: none;
        width: 141px;
        text-align: center;
        margin-top: 41px !important; }
  @media (min-width: 1125px) and (max-width: 1600px) {
    .index_intro .bxslider .index_bxslider_intro div {
      top: 128px;
      left: 0;
      font-size: 32px; }
      .index_intro .bxslider .index_bxslider_intro div p {
        height: 41px; }
      .index_intro .bxslider .index_bxslider_intro div a {
        font-size: 12px;
        color: #f9f7f7;
        padding: 7px 37px;
        background: #7e6bb5;
        border-radius: 4px;
        display: block;
        text-decoration: none;
        width: 58px;
        text-align: center;
        margin-top: 22px !important; } }
  @media (min-width: 770px) and (max-width: 1125px) {
    .index_intro .bxslider .index_bxslider_intro div {
      top: 120px;
      left: 83px;
      font-size: 32px; }
      .index_intro .bxslider .index_bxslider_intro div p {
        height: 41px; }
      .index_intro .bxslider .index_bxslider_intro div a {
        font-size: 12px;
        color: #f9f7f7;
        padding: 7px 37px;
        background: #7e6bb5;
        border-radius: 4px;
        display: block;
        text-decoration: none;
        width: 58px;
        text-align: center;
        margin-top: 17px !important; } }

/*图片轮播固定高度*/
@media (min-width: 770px) and (max-width: 1125px) {
  .index_intro {
    width: 1125px !important; } }
/*移动端-图片轮播*/
@media (max-width: 770px) {
  .bxslider .index_bxslider_intro {
    width: 0px !important;
    height: 0px !important;
    left: 0px !important;
    margin: 0 !important; }
    .bxslider .index_bxslider_intro div {
      top: 100px !important;
      left: 33px !important;
      font-size: 27px !important;
      width: 300px; }
      .bxslider .index_bxslider_intro div p {
        height: 34px !important; }
      .bxslider .index_bxslider_intro div a {
        display: none !important; }

  .index_intro .bxslider a {
    display: block;
    width: 100%;
    height: 261px;
    position: relative;
    overflow: hidden; }
    .index_intro .bxslider a img {
      max-width: 800px;
      height: 261px;
      position: absolute;
      top: 0;
      left: calc(50% - 400px); }
  .index_intro .bx-wrapper {
    margin-bottom: 0px !important; }
  .index_intro .bx-controls-direction {
    display: none; }
  .index_intro .bx-pager {
    bottom: 0px !important; } }
/*移动端-丁香诊*/
.index_mobile_intro {
  display: none; }

@media (max-width: 770px) {
  .index_mobile_intro {
    min-height: 166px;
    padding: 10px 29px 42px 29px;
    font-size: 16px;
    color: #1f1f1f;
    overflow: hidden;
    display: block;
    background: #f8f8f8;
    line-height: 27px;
    font-weight: lighter; }
    .index_mobile_intro .index_mobile_intro_title {
      margin-top: 45px;
      font-size: 27px;
      color: #000000;
      font-weight: lighter; } }
/*医疗服务*/
.index_serve {
  margin-top: -60px !important; }
  .index_serve .index_title a {
    display: none; }
  .index_serve .index_serve_active {
    animation: appoint_serve_show 1s;
    -moz-animation: appoint_serve_show 1s;
    -webkit-animation: appoint_serve_show 1s;
    -o-animation: appoint_serve_show 1s; }
@keyframes appoint_serve_show {
  0% {
    opacity: 0;
    transform: translateY(460px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }
@-moz-keyframes appoint_serve_show {
  0% {
    opacity: 0;
    transform: translateY(460px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }
@-webkit-keyframes appoint_serve_show {
  0% {
    opacity: 0;
    transform: translateY(460px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }
@-o-keyframes appoint_serve_show {
  0% {
    opacity: 0;
    transform: translateY(460px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }
  .index_serve .index_serve_content {
    width: 100%; }
    .index_serve .index_serve_content .index_serve_list {
      margin: 0;
      padding: 0; }
      .index_serve .index_serve_content .index_serve_list li {
        list-style: none;
        float: left;
        cursor: pointer;
        width: 281px;
        display: block;
        position: relative;
        height: 204px;
        overflow: hidden; }
        .index_serve .index_serve_content .index_serve_list li img {
          width: 281px;
          height: 204px;
          display: block;
          float: left; }
        .index_serve .index_serve_content .index_serve_list li .index_serve_list_link {
          display: block;
          width: 281px;
          height: 204px;
          background: #7e6bb5;
          opacity: .8;
          text-align: center;
          line-height: 204px;
          float: left;
          font-size: 24px;
          text-decoration: none;
          color: #fffefe;
          position: absolute;
          left: 0px;
          top: 204px;
          transition: top .5s; }
        .index_serve .index_serve_content .index_serve_list li:hover a {
          top: 0; }

/*医疗服务-移动端样式*/
@media (max-width: 770px) {
  .index_serve {
    width: 100% !important;
    margin-top: 0px !important;
    background: #fff; }
    .index_serve .index_title {
      width: 100%;
      height: 106px;
      font-size: 27px;
      color: #000000;
      line-height: 85px;
      font-weight: lighter;
      position: relative; }
      .index_serve .index_title a {
        display: block;
        width: 56px;
        position: absolute;
        font-size: 14px;
        font-weight: lighter;
        text-decoration: none;
        color: #7e6bb5;
        top: 30px;
        left: 50%;
        margin-left: -28px; }
    .index_serve .index_serve_content {
      width: 100%;
      min-height: 250px;
      overflow: hidden; }
      .index_serve .index_serve_content .index_serve_list {
        margin: 0px;
        padding: 0px; }
        .index_serve .index_serve_content .index_serve_list li {
          list-style: none;
          display: none;
          overflow: hidden;
          width: 100%;
          height: auto; }
          .index_serve .index_serve_content .index_serve_list li img {
            width: 50%;
            height: 100%; }
          .index_serve .index_serve_content .index_serve_list li .index_serve_list_link {
            display: block;
            width: 50%;
            height: 100%;
            float: right;
            text-align: center;
            font-size: 27px;
            color: #fdfdfe;
            text-decoration: none;
            transition: none;
            position: absolute;
            font-weight: lighter;
            top: 0;
            line-height: normal; }
            .index_serve .index_serve_content .index_serve_list li .index_serve_list_link span {
              position: absolute;
              top: 50%;
              display: block;
              text-align: center;
              width: 100%;
              height: 37px;
              line-height: 37px;
              margin-top: -18px; }
          .index_serve .index_serve_content .index_serve_list li:nth-child(odd) {
            background: #cebbe2; }
            .index_serve .index_serve_content .index_serve_list li:nth-child(odd) img {
              float: left; }
            .index_serve .index_serve_content .index_serve_list li:nth-child(odd) .index_serve_list_link {
              float: right;
              left: 50%; }
          .index_serve .index_serve_content .index_serve_list li:nth-child(even) {
            background: #7e6bb5; }
            .index_serve .index_serve_content .index_serve_list li:nth-child(even) img {
              float: right; }
            .index_serve .index_serve_content .index_serve_list li:nth-child(even) .index_serve_list_link {
              float: left; }
          .index_serve .index_serve_content .index_serve_list li:nth-child(1) {
            display: block; }
          .index_serve .index_serve_content .index_serve_list li:nth-child(2) {
            display: block; }
          .index_serve .index_serve_content .index_serve_list li:nth-child(3) {
            display: block; }
          .index_serve .index_serve_content .index_serve_list li:nth-child(4) {
            display: block; } }
/*预约*/
.index_mobile_appoint {
  display: none; }

.appoint_active {
  /*动画*/ }
  .appoint_active .index_appoint_content_qr {
    animation: appoint_move 1s; }
  .appoint_active .index_appoint_title {
    animation: appoint_show 2s; }
  .appoint_active .index_appoint_list li:nth-child(1) {
    animation: appoint_list_show 2.5s; }
  .appoint_active .index_appoint_list li:nth-child(2) {
    animation: appoint_list_show 3s; }
  .appoint_active .index_appoint_list li:nth-child(3) {
    animation: appoint_list_show 3.5s; }
  .appoint_active .index_appoint_list li:nth-child(4) {
    animation: appoint_list_show 4s; }
  .appoint_active .index_appoint_list li:nth-child(5) {
    animation: appoint_list_show 4.5s; }
@keyframes appoint_move {
  0% {
    top: 540px;
    opacity: 0; }
  100% {
    top: 56px;
    opacity: 1; } }
@keyframes appoint_show {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes appoint_list_show {
  0% {
    margin-left: 200px;
    opacity: 0; }
  80% {
    margin-left: 200px;
    opacity: 0; }
  100% {
    margin-left: 0px;
    opacity: 1; } }
.index_appoint {
  width: 100%;
  height: 596px;
  overflow: hidden;
  position: relative; }
  .index_appoint .index_appoint_map {
    position: absolute;
    width: 100%;
    height: 466px;
    background: url("../img/index-appoint-bg.png?123456") repeat-x center bottom;
    background-size: cover;
    background: url("../img/ie-index-appoint-bg.png?123456") repeat-x center bottom\0;
    top: 130px; }
  .index_appoint .index_appoint_content {
    position: relative; }
    .index_appoint .index_appoint_content .index_appoint_content_qr {
      position: absolute;
      width: 452px;
      height: 540px;
      top: 56px;
      left: 147px; }
      .index_appoint .index_appoint_content .index_appoint_content_qr .index_appoint_pic {
        width: 452px;
        height: 540px; }
      .index_appoint .index_appoint_content .index_appoint_content_qr .index_appoint_qr {
        position: absolute;
        width: 141px;
        height: 141px;
        top: 151px;
        left: 224px; }
    .index_appoint .index_appoint_content .index_appoint_intro {
      float: left;
      margin: 272px 0 0 729px; }
      .index_appoint .index_appoint_content .index_appoint_intro .index_appoint_title {
        margin: 0px;
        font-size: 17px;
        color: #333333;
        font-weight: normal; }
      .index_appoint .index_appoint_content .index_appoint_intro .index_appoint_list {
        margin: 0;
        padding: 0;
        margin-top: 20px; }
        .index_appoint .index_appoint_content .index_appoint_intro .index_appoint_list li {
          list-style: none;
          font-size: 16px;
          color: #3d3d3d;
          line-height: 21px;
          margin-top: 12px; }
          .index_appoint .index_appoint_content .index_appoint_intro .index_appoint_list li .index_appoint_list_icon {
            width: 21px;
            height: 21px;
            float: left;
            display: block;
            background: url("../img/index-appoint-list.png");
            background-size: cover;
            /*behavior: url(backgroundsize.min.htc);*/
            background: url("../img/ie-index-appoint-list.png") \0;
            margin-right: 17px; }

/* 预约 - 移动端 */
@media (max-width: 770px) {
  .index_appoint {
    display: none; }

  .index_mobile_appoint {
    display: block;
    text-align: center;
    min-height: 111px;
    padding: 10px 29px 321px 29px;
    background: url("../img/index_mobile_appoint_wx.png?131242") no-repeat center bottom;
    background-size: 242px 303px;
    background-color: #e0dbe5;
    position: relative; }
    .index_mobile_appoint h2 {
      font-size: 27px;
      font-weight: lighter;
      color: #2e2d2f;
      margin: 0;
      margin-top: 45px; }
    .index_mobile_appoint p {
      color: #312f32;
      font-size: 16px;
      line-height: 27px;
      font-weight: lighter; }
    .index_mobile_appoint img {
      position: absolute;
      bottom: 31px;
      left: 50%;
      width: 150px;
      height: 150px;
      margin-left: -75px; } }
/*welcome*/
.index_welcome .index_welcome_active li:nth-child(1) {
  animation: index_welcome_show_1 .8s; }
.index_welcome .index_welcome_active li:nth-child(2) {
  animation: index_welcome_show_2 1.4s; }
.index_welcome .index_welcome_active li:nth-child(3) {
  animation: index_welcome_show_2 2.4s; }
@keyframes index_welcome_show_1 {
  0% {
    opacity: 0;
    transform: translateY(469px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }
@keyframes index_welcome_show_2 {
  0% {
    opacity: 0;
    transform: translateY(469px); }
  50% {
    opacity: 0;
    transform: translateY(469px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }
.index_welcome .index_welcome_comtent {
  width: 100%; }
  .index_welcome .index_welcome_comtent .index_welcome_list {
    margin: 0;
    padding: 0;
    margin-left: -26px; }
    .index_welcome .index_welcome_comtent .index_welcome_list li {
      list-style: none;
      float: left;
      width: 353px;
      height: 467px;
      border-top: 1px solid #7a60a8;
      border-bottom: 1px solid #7a60a8;
      border-left: 1px solid #7a60a8;
      border-right: 1px solid #7a60a8;
      text-align: center;
      margin-left: 26px; }
      .index_welcome .index_welcome_comtent .index_welcome_list li img {
        width: 353px;
        height: 209px;
        float: left;
        width: 100%; }
      .index_welcome .index_welcome_comtent .index_welcome_list li .index_welcome_logoBox {
        float: left;
        width: 100%; }
        .index_welcome .index_welcome_comtent .index_welcome_list li .index_welcome_logoBox .index_welcome_logo {
          margin-top: 35px;
          margin-left: 158px;
          width: 38px;
          height: 36px; }
        .index_welcome .index_welcome_comtent .index_welcome_list li .index_welcome_logoBox .index_welcome_logo_1 {
          background: url("../img/index-welcome-logo1.png");
          background-size: cover;
          background: url("../img/ie-index-welcome-logo1.png") \0;
          /*behavior: url(backgroundsize.min.htc);*/ }
        .index_welcome .index_welcome_comtent .index_welcome_list li .index_welcome_logoBox .index_welcome_logo_2 {
          background: url("../img/index-welcome-logo2.png");
          background-size: cover;
          /*behavior: url(backgroundsize.min.htc);*/
          background: url("../img/ie-index-welcome-logo2.png") \0; }
        .index_welcome .index_welcome_comtent .index_welcome_list li .index_welcome_logoBox .index_welcome_logo_3 {
          background: url("../img/index-welcome-logo3.png");
          background-size: cover;
          /*behavior: url(backgroundsize.min.htc);*/
          background: url("../img/ie-index-welcome-logo3.png") \0; }
        .index_welcome .index_welcome_comtent .index_welcome_list li .index_welcome_logoBox span {
          font-size: 20px;
          color: #d73f79;
          margin-top: 8px;
          display: inline-block; }
      .index_welcome .index_welcome_comtent .index_welcome_list li .index_welcome_text {
        float: left;
        width: 100%; }
        .index_welcome .index_welcome_comtent .index_welcome_list li .index_welcome_text h3 {
          font-size: 16px; }
        .index_welcome .index_welcome_comtent .index_welcome_list li .index_welcome_text p {
          font-size: 14px;
          line-height: 22px; }

/* welcome - 移动端 */
@media (max-width: 770px) {
  .index_welcome {
    width: 100% !important;
    text-align: center;
    background: #fff; }
    .index_welcome .index_title {
      font-size: 27px;
      margin: 0;
      height: 133px;
      line-height: 133px;
      text-align: center;
      color: #000000;
      font-weight: lighter; }
    .index_welcome .index_welcome_comtent {
      width: auto;
      padding: 0 45px; }
      .index_welcome .index_welcome_comtent .index_welcome_list {
        margin: 0px;
        padding: 0; }
        .index_welcome .index_welcome_comtent .index_welcome_list li {
          list-style: none;
          display: block;
          width: 100%;
          height: auto;
          min-height: 308px;
          border: 1px solid #eba0bd;
          margin-bottom: 32px;
          float: none;
          margin-left: 0; }
          .index_welcome .index_welcome_comtent .index_welcome_list li img {
            display: none; }
          .index_welcome .index_welcome_comtent .index_welcome_list li .index_welcome_logoBox {
            display: inline-block;
            margin-top: 43px; }
            .index_welcome .index_welcome_comtent .index_welcome_list li .index_welcome_logoBox .index_welcome_logo {
              width: 53px;
              height: 49px;
              background-size: cover;
              margin: 0;
              display: inline-block; }
            .index_welcome .index_welcome_comtent .index_welcome_list li .index_welcome_logoBox .index_welcome_logo_1 {
              background: url("../img/index-welcome-logo1.png");
              background-size: cover; }
            .index_welcome .index_welcome_comtent .index_welcome_list li .index_welcome_logoBox .index_welcome_logo_2 {
              background: url("../img/index-welcome-logo2.png");
              background-size: cover; }
            .index_welcome .index_welcome_comtent .index_welcome_list li .index_welcome_logoBox .index_welcome_logo_3 {
              background: url("../img/index-welcome-logo3.png");
              background-size: cover; }
            .index_welcome .index_welcome_comtent .index_welcome_list li .index_welcome_logoBox span {
              display: block;
              font-size: 20px;
              color: #d73f79;
              margin-top: 10px; }
          .index_welcome .index_welcome_comtent .index_welcome_list li .index_welcome_text .text-center {
            color: #333333;
            font-size: 18px;
            font-weight: normal;
            margin: 0;
            margin-top: 18px; }
          .index_welcome .index_welcome_comtent .index_welcome_list li .index_welcome_text p {
            font-size: 16px;
            color: #7b7b7b;
            line-height: 26px;
            margin-top: 10px; } }
/*联系方式*/
.index_contact {
  width: 100%;
  background: url("../img/index-map-hz.jpg") center;
  background-size: cover;
  /*behavior: url(backgroundsize.min.htc);*/
  height: 427px;
  margin-top: 84px; }
  .index_contact .index_map {
    position: relative;
    background: url("../img/index-map-hz.jpg") center;
    background-size: cover;
    /*behavior: url(backgroundsize.min.htc);*/
    height: 427px;
    /*气泡信息框*/
    /*杭州滨江店*/
    /*动画*/ }
    .index_contact .index_map .index_local_hz_1, .index_contact .index_map .index_local_hz_2 {
      position: absolute;
      left: 185px;
      top: 117px;
      cursor: pointer; }
      .index_contact .index_map .index_local_hz_1 img, .index_contact .index_map .index_local_hz_2 img {
        width: 39px;
        height: 45px; }
    .index_contact .index_map .index_local_intro_1 {
      min-width: 0px;
      min-height: 0px;
      position: absolute;
      top: 69px;
      left: -14px;
      border: 1px solid #eeedee;
      background: #fff;
      padding: 21px 18px;
      display: none;
      width: 145px; }
      .index_contact .index_map .index_local_intro_1 span {
        width: 0;
        height: 0;
        font-size: 0;
        overflow: hidden;
        position: absolute; }
      .index_contact .index_map .index_local_intro_1 .local_bot {
        border-width: 14px;
        border-style: solid dashed dashed;
        border-color: transparent transparent #eeedee transparent;
        left: 15px;
        bottom: 150px; }
      .index_contact .index_map .index_local_intro_1 .local_top {
        border-width: 14px;
        border-style: solid dashed dashed;
        border-color: transparent transparent #ffffff transparent;
        left: 15px;
        bottom: 149px; }
      .index_contact .index_map .index_local_intro_1 h1 {
        font-size: 15px;
        color: #333333;
        margin-top: 0; }
      .index_contact .index_map .index_local_intro_1 p {
        font-size: 13px;
        color: #afafaf;
        margin-top: 0px;
        margin-bottom: 0; }
    .index_contact .index_map .index_local_hz_2 {
      top: 343px;
      left: 437px; }
      .index_contact .index_map .index_local_hz_2 .index_local_intro_1 {
        top: -177px; }
        .index_contact .index_map .index_local_hz_2 .index_local_intro_1 .local_bot {
          border-style: dashed dashed solid dashed;
          border-color: #eeedee transparent transparent transparent;
          bottom: -27px; }
        .index_contact .index_map .index_local_hz_2 .index_local_intro_1 .local_top {
          border-width: 14px;
          border-style: dashed dashed solid dashed;
          border-color: #ffffff transparent transparent  transparent;
          bottom: -27px; }
    .index_contact .index_map .index_local_hz_1:hover img {
      animation: .4s jumps infinite; }
    .index_contact .index_map .index_local_hz_2:hover img {
      animation: .4s jumps infinite; }
@keyframes jumps {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(0px); } }
/*福州店*/
.index_contact_fz {
  background: url("../img/index-map-fz.jpg") center;
  background-size: cover; }
  .index_contact_fz .index_map_fz {
    background: url("../img/index-map-fz.jpg") center;
    background-size: cover; }

@media (max-width: 770px) {
  .index_contact {
    display: none; }

  .index_cooperate {
    display: none; }

  .dxy_footer {
    display: block; } }
@media (min-width: 770px) and (max-width: 1125px) {
  .index_contact,
  .dxy_footer {
    width: 1125px !important; } }
/*合作单位*/
.index_cooperate {
  padding-bottom: 83px;
  background: #fff; }
  .index_cooperate .index_title {
    height: 150px !important; }
  .index_cooperate .cooperate_content {
    overflow: hidden;
    position: relative; }
    .index_cooperate .cooperate_content #btnNext,
    .index_cooperate .cooperate_content #btnPrev {
      position: absolute;
      width: 14px;
      height: 24px;
      cursor: pointer;
      top: 10px; }
      .index_cooperate .cooperate_content #btnNext img,
      .index_cooperate .cooperate_content #btnPrev img {
        width: 14px;
        height: 24px; }
    .index_cooperate .cooperate_content #btnNext {
      left: 2px; }
    .index_cooperate .cooperate_content #btnPrev {
      right: 2px; }
    .index_cooperate .cooperate_content #listBox {
      width: 982px;
      height: 48px;
      overflow: hidden;
      margin-left: 77px;
      float: left; }
      .index_cooperate .cooperate_content #listBox #list {
        margin: 0;
        padding: 0;
        display: block;
        width: 2000px; }
        .index_cooperate .cooperate_content #listBox #list li {
          float: left;
          list-style: none;
          display: block;
          padding: 0 32px;
          border-right: #c9c9c9 1px solid; }
          .index_cooperate .cooperate_content #listBox #list li a {
            display: block;
            width: 181px; }
            .index_cooperate .cooperate_content #listBox #list li a img {
              width: 181px;
              height: 48px; }
