@charset "UTF-8";
html {
  font-size: 16px; }

/* 蒙版样式 -- start */
.mask {
  height: 100%;
  width: 100%;
  position: fixed;
  _position: absolute;
  top: 0;
  z-index: -1;
  background-color: rgba(120, 100, 180, 0.75); }

/* 蒙版样式 -- end */
/* video自动播放样式 -- start */
video#moon {
  /*id保持一致*/
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url("?.jpg") no-repeat;
  background-size: cover; }

video {
  display: block; }

@media screen and (max-device-width: 800px) {
  html {
    background: url("video-cover.jpg") #000 no-repeat center center fixed; }

  #bgvid {
    display: none; } }
@keyframes local_jump {
  0% {
    transform: translateY(3px); }
  50% {
    transform: translateY(-3px); }
  100% {
    transform: translateY(3px); } }
@-webkit-keyframes local_jump {
  0% {
    transform: translateY(3px); }
  50% {
    transform: translateY(-3px); }
  100% {
    transform: translateY(3px); } }
/* video自动播放样式 -- end */
/* pc端样式 -- start */
.local-logo {
  width: 203px;
  width: 12.6875rem;
  height: 61px;
  height: 3.8125rem;
  position: fixed;
  top: 40px;
  top: 2.5rem;
  left: 40px;
  left: 2.5rem; }

.local-content {
  width: 600px;
  width: 37.5rem;
  min-height: 450px;
  min-height: 28.125rem;
  left: 50%;
  top: 50%;
  margin-left: -300px;
  margin-left: -18.75rem;
  margin-top: -225px;
  margin-top: -14.0625rem;
  position: absolute;
  text-align: center;
  color: #fff;
  z-index: 999;
  font-weight: lighter; }
  .local-content a {
    color: #fff;
    text-decoration: none; }
  .local-content .local-welcome-text {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 50px;
    font-size: 3.125rem;
    font-weight: lighter;
    letter-spacing: 3px;
    letter-spacing: 0.1875rem; }
  .local-content .local-choose {
    width: 100%;
    overflow: hidden;
    margin-top: 65px;
    margin-top: 4.0625rem; }
    .local-content .local-choose div {
      display: block;
      width: 100%;
      font-size: 27px;
      font-size: 1.6875rem;
      letter-spacing: 3px;
      letter-spacing: 0.1875remrem; }
    .local-content .local-choose a {
      width: 274px;
      width: 17.125rem;
      height: 54px;
      height: 3.375rem;
      font-size: 24px;
      font-size: 1.5rem;
      display: block;
      line-height: 51px;
      line-height: 3.1875rem;
      margin: 0 auto;
      border: 1px solid #fff;
      border-radius: 37px;
      border-radius: 2.3125rem;
      margin-top: 24px;
      margin-top: 1.5rem;
      vertical-align: middle;
      transition: all .3s linear;
      -moz-transition: all .3s linear;
      /* Firefox 4 */
      -webkit-transition: all .3s linear;
      /* Safari 和 Chrome */
      -o-transition: all .3s linear;
      /* Opera */ }
      .local-content .local-choose a:hover {
        background-color: rgba(255, 255, 255, 0.15); }
        .local-content .local-choose a:hover img {
          animation: local_jump .5s infinite;
          -webkit-animation: local_jump .5s infinite; }
      .local-content .local-choose a .local-choose-addr {
        position: relative;
        padding-left: 40px;
        padding-left: 2.5rem; }
        .local-content .local-choose a .local-choose-addr img {
          position: absolute;
          width: 30px;
          width: 1.875rem;
          height: 34px;
          height: 2.125rem;
          top: -1px;
          top: -0.0625rem;
          left: 0px; }

/* pc端样式 -- end */
/* pc端不支持video标签样式 -- start */
.no-support {
  color: #777777; }
  .no-support a {
    color: #777777; }
  .no-support .local-choose a {
    border-color: #7c7c7c; }

/* pc端不支持video标签样式 -- end */
/* 移动端样式 -- start */
@media (max-width: 750px) {
  .mask img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%; }

  video#moon {
    display: none; }

  .local-logo {
    display: none; }

  .local-content {
    width: 100%;
    min-height: 250px;
    color: #555555;
    left: 0;
    margin-left: 0;
    margin-top: -145px; }
    .local-content a {
      color: #555555; }
    .local-content .local-welcome-text {
      font-size: 26px; }
    .local-content .local-choose {
      margin-top: 23px; }
      .local-content .local-choose div {
        font-size: 20px; }
      .local-content .local-choose a {
        font-size: 20px;
        height: 40px;
        width: 210px;
        line-height: 40px;
        margin-top: 16px;
        border-color: #afafaf; }
        .local-content .local-choose a .local-choose-addr {
          padding-left: 32px; }
          .local-content .local-choose a .local-choose-addr img {
            width: 25px;
            height: 29px; } }
/* 移动端样式 -- end */
/* 低版本浏览器背景图片 */
.pcScreen {
  width: 100%; }

/* 移动端横屏 */
.screenW {
  top: -50% !important; }

@media (min-width: 750px) and (max-width: 1366px) {
  html {
    font-size: 12px; } }
@media (-webkit-min-device-pixel-ratio: 2) {
  html {
    font-size: 12px; } }
