@charset "UTF-8";
ul {
  margin: 0;
  padding: 0; }

.story_content {
  min-height: 50px;
  position: relative;
  padding-bottom: 50px;
  /*内容左侧*/ }
  .story_content .detail_cover {
    display: none; }
  .story_content .story_content_title {
    font-size: 24px;
    color: #000;
    margin: 0;
    height: 128px;
    line-height: 118px;
    font-weight: 400; }
    .story_content .story_content_title a {
      font-size: 16px;
      text-decoration: none;
      color: #7c68b4;
      margin-left: 691px; }
  .story_content .story_detail_aside {
    width: 747px;
    float: left;
    min-height: 500px;
    margin-top: 0;
    background: #fff;
    padding: 50px 60px; }
    .story_content .story_detail_aside .detail_title {
      font-size: 20px;
      color: #333333;
      margin: 0;
      font-weight: normal; }
    .story_content .story_detail_aside .detail_title_from {
      font-size: 15px;
      color: #666666;
      display: block;
      margin-top: 15px; }
      .story_content .story_detail_aside .detail_title_from a {
        font-size: 15px;
        color: #7e6bb5;
        text-decoration: none; }
    .story_content .story_detail_aside .detail_content {
      margin-top: 30px;
      font-size: 16px;
      line-height: 27px; }
  .story_content .service_right {
    width: 139px;
    min-height: 50px;
    position: absolute;
    top: 127px;
    left: 50%;
    margin-left: 390px; }
    .story_content .service_right ul {
      display: block;
      margin: 0;
      padding: 0;
      width: 100%;
      padding-bottom: 15px;
      border-bottom: 1px solid #a3a3a3; }
      .story_content .service_right ul li {
        width: 100%;
        display: block;
        list-style: none;
        margin: 0;
        height: 21px;
        font-size: 15px;
        line-height: 20px;
        color: #777777;
        margin-bottom: 12px; }
        .story_content .service_right ul li i {
          width: 21px;
          height: 21px;
          display: block;
          background: url("../img/service_list_icon.png");
          background-size: cover;
          /*behavior: url("./css/backgroundsize.min.htc");*/
          background: url("../img/ie-service_list_icon.png") \0;
          margin-right: 15px;
          float: left; }
          .story_content .service_right ul li i img {
            margin-top: 0; }
    .story_content .service_right .service_addr {
      width: 100%;
      margin: 0px;
      font-size: 14px;
      color: #777777;
      line-height: 26px;
      padding: 22px 0;
      border-bottom: 1px solid #a3a3a3; }
      .story_content .service_right .service_addr .service_addr_intro {
        color: #777777;
        font-weight: normal;
        line-height: 20px;
        display: block;
        margin-top: 5px;
        margin-bottom: -14px; }
      .story_content .service_right .service_addr span {
        color: #7e6bb5;
        font-weight: bold; }
    .story_content .service_right img {
      width: 138px;
      margin-top: 30px; }

/*移动端*/
@media (max-width: 770px) {
  .story_content {
    width: 100% !important;
    padding-bottom: 0; }
    .story_content .detail_cover {
      width: 100%; }
    .story_content .story_content_title {
      display: none; }
    .story_content .story_detail_aside {
      overflow: hidden;
      padding: 0 27px;
      width: auto;
      float: none;
      margin-top: 0;
      padding-bottom: 50px; }
      .story_content .story_detail_aside .detail_title {
        font-size: 26px;
        color: #060606;
        margin: 0;
        font-weight: normal;
        line-height: 33px;
        margin-top: 40px; }
      .story_content .story_detail_aside .detail_title_from {
        font-size: 18px;
        color: #666666;
        display: block;
        margin-top: 20px; }
        .story_content .story_detail_aside .detail_title_from a {
          font-size: 18px;
          text-decoration: none;
          color: #7e6bb5; }
      .story_content .story_detail_aside .detail_content {
        margin-top: 25px; }
        .story_content .story_detail_aside .detail_content img {
          width: 100%;
          height: auto; }
    .story_content .service_right {
      display: none; } }
