<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <!-- kill the Facebook and Weibo -->
                    <li>
                        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>

                    <!-- {% if site.twitter_username %}
                    <li>
                        <a href="https://twitter.com/{{ site.twitter_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %} -->

                    {% if site.github_username %}
                    <li>
                        <a href="https://github.com/{{ site.github_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}

                    <!--
                    {% if site.douban_username %}
                    <li>
                        <a href="http://www.douban.com/people/{{ site.douban_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-douban fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    -->

                    <!--
                    {% if site.facebook_username %}
                    <li>
                        <a href="https://www.facebook.com/{{ site.facebook_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    -->

                    {% if site.zhihu_username %}
                    <li>
                        <a target="_blank" href="https://www.zhihu.com/people/{{ site.zhihu_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa  fa-stack-1x fa-inverse">知</i>
                            </span>
                        </a>
                    </li>
                    {% endif %}

                    {% if site.weibo_username %}
                    <li>
                        <a target="_blank" href="http://weibo.com/{{ site.weibo_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}


                </ul>
                <p class="copyright text-muted">
                    &copy; {{ site.time | date: '%Y' }} {{ site.owner.name }} ❖ Powered by Jekyll.
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/clean-blog.min.js " | prepend: site.baseurl }}"></script>

<!-- Highlight.js -->
<script type="text/javascript" src="http://cdn.bootcss.com/highlight.js/8.6/highlight.min.js"></script>

<script>
    $(function () {
        hljs.initHighlightingOnLoad();
    });
</script>

<link rel="stylesheet" href="/css/backtop.css">
<!-- Back Top -->
<script type="text/javascript" src="/js/backtop.js"></script>
<!-- Back Top -->
<div id="back-top">
    <a href="#top" title="回到顶部"></a>
</div>

<!-- 动态背景 -->
<script type="text/javascript" src="/js/dynamic-background.js"></script>

<!-- 增加价值观 -->
<script type="text/javascript" src="/js/china.js"></script>

<link href="http://cdn.bootcss.com/highlight.js/8.6/styles/github.min.css" rel="stylesheet">

<!-- 看板娘 -->
<!-- 引用看板娘交互所需的样式表 -->
<link href='/plugins/pio/static/pio.css' rel='stylesheet' type='text/css' />
<!-- 引用 Live2D 核心组件 -->
<script src='/plugins/pio/static/l2d.js'></script>
<!-- 引用看板娘交互组件 -->
<script src='/plugins/pio/static/pio.js'></script>
<div class="pio-container left">
    <div class="pio-action"></div>
    <canvas id="pio" width="280" height="250"></canvas>
</div>
<script>
    $(function () {
        var pio = new Paul_Pio({
            "mode": "fixed",
            "hidden": true,
            "content": {
                "welcome": ["欢迎来到保罗的小宇宙！", "今天天气不错，一起来玩吧！", "博主每天都有些折腾记录，欢迎前往他的小窝阅读~"],
                "custom": [{
                        "selector": ".comment-form",
                        "text": "欢迎参与本文评论，别发小广告噢~"
                    },
                    {
                        "selector": ".home-social a:last-child",
                        "text": "在这里可以了解博主的日常噢~"
                    },
                    {
                        "selector": ".post-item a",
                        "type": "read"
                    },
                    {
                        "selector": ".post-content a, .page-content a",
                        "type": "link"
                    }
                ]
            },
            "model": ["/plugins/pio/models/pio/model.json"]
        });
    });
</script>

<!-- 头部粒子效果 -->
<link href="/css/snow.css" rel="stylesheet">
<script>
$(function () {
    var content = ''
    var div = document.createElement("div");
    for (var i = 0; i < 100; i++) content += '<div class="snow"></div>'
    var parent = $('header.intro-header')
    parent.length && parent.append($(content))
});
</script>