---
layout: default
---

<!-- Page Header -->
<!--<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">-->
<header class="intro-header" style="background: #ccc; position: relative;" id="intro-head">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
<script type="text/javascript">
    window.onload = function (){
        var intro_head = document.getElementById('intro-head');
        var intro_h = intro_head.offsetHeight;
        var intro_w = intro_head.offsetWidth;
        var flag = 0;
        var timer = null;
        clearTimeout(timer);
        var createBubble = function (){
            if(flag > 20){
                clearTimeout(timer);
            }
            var r = Math.floor(Math.random()*(254 - 0));
            var g = Math.floor(Math.random()*(254 - 0));
            var b = Math.floor(Math.random()*(254 - 0));
            var l = Math.floor(Math.random()*(intro_h - 0));
            var w = Math.floor(Math.random()*(intro_w - 0));
            var num = Math.floor(Math.random()*(50 - 20));
            var oDiv = document.createElement('div');
            oDiv.style.backgroundColor = 'rgb('+r+','+g+','+b+')';
            oDiv.style.position = 'absolute';
            oDiv.style.left = w + 'px';
            oDiv.style.top = l + 'px';
            oDiv.style.width = num + 'px';
            oDiv.style.height = num + 'px';
            oDiv.style.borderRadius = num + 'px';
            intro_head.appendChild(oDiv);
            flag ++;
        }
        var timer = setTimeout(createBubble, 300);
    }
</script>
<link rel="stylesheet" href="/css/backtop.css">  <!-- Back Top -->
<script type="text/javascript" src="/js/backtop.js"></script>  <!-- Back Top -->

<div id="back-top">
  <a href="#top" title="回到顶部"></a>
</div>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			{{ content }}
		</div>
	</div>
</div>

<hr>
